In [12]:
# Mount Google Drive
from google . colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#Q1

In [9]:
s = input("Enter the string: ")
rs = s[::-1]
print(rs[2:])

n1 = int(input("Enter a number1: "))
n2 = int(input("Enter a number2: "))

print(f"Sum: {n1+n2}")
print(f"Sub: {n1-n2}")
print(f"Mul: {n1*n2}")
print(f"Div: {n1/n2}")

Enter the string: Python
htyP
Enter a number1: 1
Enter a number2: 2
Sum: 3
Sub: -1
Mul: 2
Div: 0.5

#Q2

In [8]:
s = input("Enter the string: ")
print(s.replace('python','pythons'))

Enter the string: i love playing with python
i love playing with pythons

#Q3

In [10]:
score = int(input("Enter total Score: "))
if score >= 90:
  print("Grade A")
elif score >= 80:
  print("Grade B")
elif score >= 70:
  print("Grade C")
elif score >= 60:
  print("Grade D")
else:
  print("Grade F")

Enter total Score: 78
Grade C